@CHARSET "UTF-8";

/* Corps */
/* Section */
section {
 text-align: justify;
 width: 600px;
}

section h1 {
 font-size: 2em;
 font-weight: normal;
 margin-bottom: 35px;
 margin-top: 25px;
 text-align: center;
}

/* Article */
article {
 clear: both;
}

article img {
 box-shadow: -3px 3px 5px #888888;
 float: left;
 margin-bottom: 25px;
 margin-right: 50px;
 width: 300px;
}

article h1 {
 font-size: 1.5em;
 margin-bottom: 0;
 text-align: left;
}

article h2 {
 background: url("images/separateur_titre_article.png") repeat-x bottom
  right;
 font-size: 1.1em;
 font-style: italic;
 font-weight: normal;
 margin-bottom: 25px;
}

article a {
 color: #5F5F5F;
 text-decoration: underline;
}

article a:HOVER {
 text-decoration: none;
}

/* Aside */
aside {
 position: absolute;
 right: 15px;
 top: 0;
}

aside h1 {
 background: url("images/banniere_titre.png");
 color: white;
 font-size: 1.1em;
 font-weight: normal;
 height: 40px;
 padding-top: 3px;
 text-align: center;
 width: 251px;
}

/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Quelques ajustements pour les vieilles versions d'IE */