@CHARSET "UTF-8";

/* Definition des polices personnalisees */
@font-face {
 font-family: "Daniel";
 src: url("polices/Daniel/daniel-webfont.eot");
 src: url("polices/Daniel/daniel-webfont.eot?#iefix")
  format("embedded-opentype"), url("polices/Daniel/daniel-webfont.woff")
  format("woff"), url("polices/Daniel/daniel-webfont.ttf")
  format("truetype"), url("polices/Daniel/daniel-webfont.svg#Daniel")
  format("svg");
 font-style: normal;
 font-weight: normal;
}

/* Corps */
/* Section */
section {
 text-align: justify;
 width: 600px;
}

section h1 {
 font-size: 2em;
 font-weight: normal;
 margin-bottom: 35px;
 margin-top: 25px;
 text-align: center;
}

section h1+p:FIRST-LETTER {
 float: left;
 font-size: 7.1em;
}

section h1+p:FIRST-LINE {
 text-transform: uppercase;
}

section p {
 margin-bottom: 15px;
}

#signature {
 font-family: Daniel, sans-serif;
 font-size: 1.3em;
 margin-top: 30px;
 text-align: right;
}

/* Aside */
aside {
 position: absolute;
 right: 15px;
 top: 0;
}

aside h1 {
 background: url("images/banniere_titre.png");
 color: white;
 font-size: 1.1em;
 font-weight: normal;
 height: 39px;
 padding-top: 4px;
 text-align: center;
 width: 251px;
}

aside ul {
 padding-bottom: 20px;
 padding-top: 10px;
 text-align: center;
}

aside li {
 display: inline-block;
 width: 50px;
}

/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */
.old_ie aside li {
 display: inline;
 zoom: 1;
}

.old_ie section h1+p:FIRST-LETTER, .ie8 section h1+p:FIRST-LETTER, .ie9 section h1+p:FIRST-LETTER {
 margin-top: -25px;
}

/* Quelques ajustements pour les vieilles versions d'IE */