@CHARSET "UTF-8";

/* Definition des polices personnalisees */
@font-face {
 font-family: "PT-Sans";
 src: url("polices/PT-Sans/PTN57F-webfont.eot");
 src: url("polices/PT-Sans/PTN57F-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("polices/PT-Sans/PTN57F-webfont.woff") format("woff"),
  url("polices/PT-Sans/PTN57F-webfont.ttf") format("truetype"),
  url("polices/PT-Sans/PTN57F-webfont.svg#PT-Sans") format("svg");
 font-style: normal;
 font-weight: normal;
}

/* Elements principaux de la page */
* {
 margin: 0;
 padding: 0;
}

a,img {
 border: none;
}

html,body {
 height: 100%; /* probleme ici pour le url bottom */
}

body {
 background: url("images/degrade_haut.png") repeat-x top;
 color: #5F5F5F;
 font-family: PT-Sans, sans-serif;
}

#page {
 min-height: 100%;
 position: relative;
}

#bloc_page {
 margin: auto;
 padding-bottom: 100px; /* hauteur du footer */
 position: relative;
 width: 900px;
}

/* Header */
#logo {
 display: block;
 margin-bottom: 30px;
 margin-left: 50px;
 margin-top: 30px;
}

header {
 margin: auto;
 width: 921px;
}

/* Header - Navigation */
nav {
 background: url("images/menu.png");
 display: inline-block;
 font-size: 1.1em;
 height: 42px;
 width: 100%;
}

nav ul {
 padding-left: 1px;
}

nav li {
 display: inline-block;
 padding-top: 13px;
}

nav a {
 color: #5F5F5F;
 padding: 13px 20px 7px 20px;
 text-decoration: none;
}

nav a:VISITED {
 color: #5F5F5F;
}

nav a:HOVER,#page_courante {
 background: url("images/degrade_menu_bleu.png");
 border-radius: 5px 5px 0px 0px;
 color: white;
}

a[href*="contact"]:HOVER,#page_courante_contact {
 background: url("images/degrade_menu_rouge.png");
 border-radius: 5px 5px 0px 0px;
 color: white;
}

/* Corps */
#contenu {
 background: url("images/separateur.png") no-repeat bottom;
 margin-bottom: 10px;
 padding-bottom: 75px;
}

.message_erreur {
 border: 1px red solid;
 color: red;
 margin-top: 2px;
 padding-bottom: 2px;
 padding-top: 3px;
 text-align: center;
}

.bouton_rouge {
 background: url("images/degrade_btn_rouge.png");
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px #888888;
 color: white;
 padding-bottom: 3px;
}

/* Footer */
footer {
 bottom: 0;
 height: 100px;
 margin: auto;
 position: absolute;
 text-align: center;
 width: 100%;
}

/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */
.old_ie nav,.old_ie nav li {
 display: inline;
 zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */