@CHARSET "UTF-8";

body {
 background: url("images/degrade_haut.png") repeat-x top,
  url("images/404.png") no-repeat center;
}

#bloc_page a {
 color: #5F5F5F;
}

#contenu_erreur {
 position: absolute;
 right: 150px;
 top: 75px;
}

#contenu_erreur h1 {
 font-size: 3em;
 font-weight: normal;
}

#contenu_erreur p {
 font-size: 1.2em;
 text-align: right;
}