@CHARSET "UTF-8";

/* Definition des polices personnalisees */
@font-face {
 font-family: "Daniel";
 src: url("polices/Daniel/daniel-webfont.eot");
 src: url("polices/Daniel/daniel-webfont.eot?#iefix")
  format("embedded-opentype"), url("polices/Daniel/daniel-webfont.woff")
  format("woff"), url("polices/Daniel/daniel-webfont.ttf")
  format("truetype"), url("polices/Daniel/daniel-webfont.svg#Daniel")
  format("svg");
 font-style: normal;
 font-weight: normal;
}

/* Corps */
/* Section */
#icone_lettre {
 bottom: 10px;
 float: left;
 margin-right: 20px;
 position: relative;
}

section {
 text-align: justify;
 width: 600px;
}

section h1 {
 font-weight: normal;
 margin-bottom: 35px;
 margin-top: 25px;
}

form {
 margin-top: 25px;
 text-align: center;
}

p label {
 display: block;
 float: left;
 text-align: right;
 width: 150px;
}

input[type=text],input[type=email] {
 margin-bottom: 10px;
 padding-bottom: 1px;
 padding-top: 1px;
}

input[type=checkbox] {
 display: none;
}

input[type=checkbox]+label {
 background: url("images/ko.png") no-repeat;
 display: inline-block;
 height: 21px;
 width: 19px;
}

input[type=checkbox]:CHECKED+label {
 background: url("images/ok.png");
 display: inline-block;
 height: 21px;
 width: 19px;
}

form table {
 margin: auto;
 padding-bottom: 10px;
 padding-top: 10px;
}

form table td {
 padding-left: 5px;
 padding-right: 5px;
}

input[type=submit] {
 background: url("images/degrade_btn_rouge.png");
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px #888888;
 color: white;
 height: 23px;
 padding-bottom: 3px;
 width: 75px;
}

input[type=submit]:HOVER {
 background: url("images/degrade_btn_rouge_clair.png");
}

/* Aside */
aside {
 position: absolute;
 right: 15px;
 top: 0;
}

aside h1 {
 background: url("images/banniere_titre.png");
 color: white;
 font-size: 1.1em;
 font-weight: normal;
 height: 39px;
 padding-top: 4px;
 text-align: center;
 width: 251px;
}

aside ul {
 padding-bottom: 20px;
 padding-top: 10px;
 text-align: center;
}

aside li {
 display: inline-block;
 width: 50px;
}

/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */
.old_ie aside li,.old_ie input[type=checkbox]+label,.old_ie input[type=checkbox]:CHECKED+label
 {
 display: inline;
 zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */