html,body {
 height: 100%;
}

body {
 font-family: "Georgia", serif;
 font-size: 0.8em;
}

#bloc_page {
 min-height: 100%;
 position: relative;
}

header {
 border-bottom: 3px solid gray;
 position: relative;
}

header h1 {
 color: #9E9381;
 font-size: 2.5em;
 text-align: center;
}

#bloc_contenu {
 margin: auto;
 padding-top: 20px;
 padding-bottom: 50px;
 width: 900px;
}

#message_erreur {
 color: red;
}

table {
 border-collapse: collapse;
 width: 100%;
}

td,th {
 border-bottom: 1px solid gray;
 padding: 5px;
 text-align: left;
}

th {
 background-color: #E3E3E3;
 border-top: 1px solid gray;
}

th a {
 color: black;
}

#editer,#afficher,#supprimer {
 font-weight: bold;
}

#editer,#ajouter {
 color: #288FD7;
}

#afficher {
 color: black;
}

#supprimer {
 color: #C65444;
 text-transform: uppercase;
}

th a:HOVER,#editer:HOVER,#afficher:HOVER,#supprimer:HOVER {
 text-decoration: none;
}

#retour {
 text-align: right;
}

label {
 display: block;
 float: left;
 width: 150px;
}

#contenu {
 height: 200px;
 width: 100%;
}

input[type=file]+a {
 text-decoration: none;
}

footer {
 border-top: 3px solid gray;
 bottom: 0;
 height: 30px;
 left: 0;
 position: absolute;
 width: 100%;
}